.border {
  border: 3px solid;
}

.border-top {
  border-top: 3px solid;
}

.border-bottom {
  border-bottom: 3px solid;
}

.border-left {
  border-left: 3px solid;
}

.border-right {
  border-right: 3px solid;
}
