.padding-top {
  padding-top: var(--vertical-space);
}

.margin-top {
  margin-top: var(--vertical-space);
}

.padding-bottom {
  padding-bottom: var(--vertical-space);
}

.margin-bottom {
  margin-bottom: var(--vertical-space);
}

.padding-left {
  padding-left: var(--gutter);
}

.margin-left {
  margin-left: var(--gutter);
}

.padding-right {
  padding-right: var(--gutter);
}

.margin-right {
  margin-right: var(--gutter);
}
